* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.result {
    margin:0 20px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background: antiquewhite;
}
.container {
    padding: 30px 0;
    margin: auto;
    width: 80%;
    border-bottom: 1px dotted green;
    padding-bottom: 30px;
}
.container h1{
    text-align: center;
}

input {
    display: block;
    padding: 5px;
}
.tinhDiem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
    align-items: center;
}
.tinhDiem button{
    width: 50%;
}
.tinhDiem h2{
    display: block;
}
h3{
    text-align: center;
    color: rgb(210, 129, 59);
    margin-bottom: 30px;
}